# Utility Shells
_*.sh

# OS and IDE specifics
.idea/
.vscode/
vendor
*.DS_Store
go.sum

# binary files
cmd/pkisetup/*.log
cmd/pkisetup/*.exe
cmd/vaultworker/*.log
cmd/vaultworker/*.exe
cmd/pkisetup/pkisetup
cmd/vaultworker/edgex-vault-worker
internal/pki/pkisetup/*.test
internal/pki/pkisetup/testconfig/*.*
